html,
body,
#mynetwork {
    font-family: "verdana";
    margin: 0px;
    padding: 0px;
}

#mynetwork {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 34%;
    min-height: 100vh;
    border-right: 1px solid lightgray;
    background: white;
}

#text {
    position: absolute;
    top: 0;
    right: 0;
    width: 34%;
    z-index: 1;
    border-left: 1px solid lightgray;
    background: whitesmoke;
    height: 100vh;
    overflow: scroll;
    background: #2d2d2d;
    color: whitesmoke;
}
#text #options{
    padding: 1em;
}
#text>#editor {
    width: 100%;
    max-height: 86vh;
    min-height: 86vh;
    font-size: 14px;
}
#text>#json {
    display: none;
    margin-top: 20px;
    height: 20vh;
    min-width: 100%;
    border: none;
    font-family: monospace;
    font-size: 14px;
    padding: 6px 6px 6px 35px;
    background: #2d2d2d;
    color: #f07679;
}

#title {
    margin-bottom: 5em;
}
#text select,
#text button,
#text option {
    color: #fffdfd;
    background: #766969;
    border: none;
    border-radius: 6px;
    padding: 3px 8px;
    margin: 0 2px 5px 0;
    font-size: 11px;
}

#node-container{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    z-index: 1;
    height: 100vh;
    overflow: scroll;
    color: #2d2d2d;
}
.node{
    background: #fa8f90;
    width: 300px;
    color: white;
    border-radius: 8px;
}
.node .node-header{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding: 8px 12px;
}
.node .node-body{
    font-size: 14px;
    padding: 6px;
}
svg>text{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
